.wrapper{
  width: 900px;
}

.tablist{
  width: 100%;
  height: 43px;
  display: flex;
  gap: 12px;
  border-bottom: 3px solid var(--border-color-black);
}

.tab{
  width: auto;
  height: 40px;
  padding: 5px 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  border: 3px solid var(--border-color-gray);
  border-bottom: none;
  background: var(--background-basic);
  color: var(--color-text-hazy);
  font-size: var(--scales-m);
  font-weight: 700;
  box-sizing: border-box;
}

.tab:hover{
  cursor: pointer;
  border: 3px solid var(--border-color-black);
  border-bottom: none;
  color: var(--color-text-semiHighlight);
}

.tab.active{
  border: 3px solid var(--border-color-black);
  border-bottom: none;
  background: var(--background-point-hazy);
  color: var(--color-text-highlight);
}