.wrapper{
  width: 900px;
}


.tablist{
  width: 100%;
  height: 43px;
  display: flex;
  gap: 12px;
  border-bottom: 3px solid var(--border-color-black);
}

.tab{
  width: auto;
  height: 40px;
  padding: 5px 10px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  border: 3px solid var(--border-color-gray);
  border-bottom: none;
  background: var(--background-basic);
  color: var(--color-text-hazy);
  font-size: var(--scales-m);
  font-weight: 700;
  box-sizing: border-box;
}

.tab:hover{
  cursor: pointer;
  border: 3px solid var(--border-color-black);
  border-bottom: none;
  color: var(--color-text-semiHighlight);
}

.tab.active{
  border: 3px solid var(--border-color-black);
  border-bottom: none;
  background: var(--background-point-hazy);
  color: var(--color-text-highlight);
}

/* MB */
.MBheader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.MBupdatedDate{
  color: var(--color-text-hazy)
}

.MBfigure{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 350px;
  position: relative;
}

.MBimage{
  width: 450px;
  border: 3px solid var(--border-color-black);
}

.MBfigcaption{
  width: 420px;
  height: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}

.MBfigcaption h3:hover{
  text-decoration: underline;
  cursor: pointer;
}

.explanTitle{
  color: var(--color-text-highlight);
  font-size: var(--scales-m);
  font-weight: 700;
  margin-top: 15px;
}

.explanDescription{
  color: var(--color-text-secondary);
  font-size: var(--scales-s);
  margin-top: 15px;
  /* 3중 넘으면 ...로 생략. */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MBfigcaption dl{
  display: flex;
  gap: 15px;
  position :absolute;
  bottom: 20px;
}

.MBlistWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  margin-top: 40px;
}

.MBbutton{
  width: 40px;
  height: 100px;
  border-radius: 20px;
  background: var(--background-point-hazy);
  border: none;
  font-size: var(--scales-l);
  color: var(--color-text-secondary);
}

.MBbutton:hover{
  cursor: pointer;
  color: var(--color-text-highlight);
}

.MBcarousel{
  overflow: hidden;
  flex: 1;
  width: auto;
  height: 100%;
  margin: 0 25px;
}

.MBlist{
  display: flex;
  gap: 25px;
}

.MBlistitem{
  flex: 0 0 100%;
  min-width: 0;
  display: flex;
  gap: 25px;
}

.MBcard{
  width: 240px;
  height: 190px;
  padding: 4px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.MBcard:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MBcard.active{
  border: 3px solid var(--border-color-blue);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.MBcardtitle{
  margin: 0 15px;
}

/* MR */
.MRfilterWrapper{
  display: flex;
  margin-top: 30px;
  width: auto;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.MRfilterButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 30px;
  border: 2px solid var(--border-color-black);
  background: var(--background-basic);
  font-size: var(--scales-sm);
  font-weight: 700;
  transition: background 0.3s, color 0.3s;
  border-radius: 15px;
  z-index: 1;
}

.MRfilterButton:hover{
  cursor: pointer;
  background: var(--background-point-hazy);
}

.MRfilterButton.open{
  background: var(--background-point-hazy);
  border: 2px solid var(--border-color-blue);
}

.MRfilterPanel{
  display: flex;
  align-items: center;
  gap: 20px;
  width: auto;
  max-width: 0;
  height: 30px;
  border: none;
  pointer-events: none;
  transition: max-width 0.3s;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  border-radius: 15px;
}

.MRfilterPanel.MRopen{
  padding-left: 50px;
  max-width: 100%;
  pointer-events: auto;
  border: 2px solid var(--border-color-black);
  background: var(--background-point-hazy);
}

.MRfilterRow{
  display: flex;
  align-items: center;
}

.MRlabel{
  font-size: var(--scales-s);
}

.MRlabel:after{
  content: ":";
  margin-left: 5px;
  margin-right: 5px;
}

.MRselect{
  width: 150px;
  overflow: scroll;
  border: none;
  background: none;
  color: var(--color-text-secondary);
  font-size: var(--scales-s);
}

.MRinput{
  width: 150px;
  height: 20px;
  border: 1px solid var(--border-color-gray);
  background: none;
  padding: 2px 5px;
  color: var(--color-text-secondary);
  font-size: var(--scales-s); 
}

.MRfilterActions{
  width: auto;
  height: 30px;
  border-left: 2px solid var(--border-color-black);
}

.MRcloseButton{
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  color: var(--color-text-secondary);
  font-size: var(--scales-m);
  display: flex;
  justify-content: center;
  align-items: center;
}

.MRcloseButton:hover{
  cursor: pointer;
  color: var(--color-text-highlight);
}