.wrapper{
  width: 100%;
  height: auto;
  background-color: var(--background-wrap);
}

.header{
  width: calc(100% - 40px);
  height: auto;
  margin: 10px 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: 3px solid var(--border-color);
}

.headerWrapper{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.detailSub{
  font-weight: 700;
}

.contentWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.article{
  width: calc(100% - 370px - 50px);
  max-width: 960px;
}

.aside{
  width: 370px;
}

.subInfoWrapper{
  margin-top: 30px;
  margin-bottom: 10px;
}

.greatBtn:hover{
  border: 1px solid red !important;
}

.bookmarkBtn:hover{
  border: 1px solid gold !important;
}

.tag{
  font-size: var(--scales-xs);
  font-weight: var(--weight-regular);
  background-color: var(--background-gray);
  color : var(--color-text-secondary);
  padding: 3px;
}

.tagWrapper{
  margin-bottom: 10px;
}

.commentWrapper{
  width: 100%;
  margin-top: 50px;
}

.commentHeader{
  display: flex;
  padding-top:20px;
  padding-bottom: 10px;
  gap: 20px;
  border-bottom: 3px solid var(--border-color);
}

.refreshBtn{
  display: flex;
  font-size: var(--scales-xs);
  gap: 5px;
  border: none;
  background: none;
  color: var(--color-text-secondary);
  align-items: center;
}

.refreshBtn:hover{
  text-decoration: underline;
  cursor: pointer;
}