.header{
  width: 100%;
  height: 140px;
  box-sizing: border-box;
}

.topNav{
  width: 100%;
  height: 40px;
  padding : var(--padding-basic);
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topNav ul{ 
  display: flex;
  gap: var(--gap-nav);
}

.mainNav{
  width: 100%;
  height: 100px;
  background-color: var(--background-darkGray);
  padding: 0 var(--padding-inward);
}

.subNav{
  display: flex;
  gap: var(--gap-nav);
}

.subNavBtn{
  font-size: 30px;
  box-sizing: border-box;
  width: 35px;
  height: 35px;
  padding: 3px;
}

.subNavBtn:hover{
  padding: 0;
  border: 3px solid var(--border-color-black);
}

.searchDiv{
  display: flex;
  width: 500px;
  height: 50px;
  box-shadow:
    0 8px 18px rgba(0, 0, 0, 0.3);
  border: 4px solid var(--border-color-gray);
}

.searchDiv:hover{
  border: 4px solid var(--border-color-blue);
}

.searchCategory{
  width: 150px;
  height: 100%;
  background-color: var(--background-gray);
  border : none;
  display: flex;
  flex-direction: column;
}

.searchCategory:hover{
  background-color: var(--background-point-hazy);
}

.categoryText{
  font-weight: var(--weight-bold);
  font-size: var(--scales-m);
}

.subcategoryText{
  font-weight: var(--weight-thin);
  font-size : var(--scales-xxs);
  color: var(--color-text-hazy);
  background-color: none;
}

.searchInput{
  width: 325px;
  height: 100%;
  border: none;
  outline: none;
  text-align: center;
  font-size: var(--scales-basic);
  background-color: var(--background-wrap);
}

.searchBtn{
  width: 25px;
  height: 100%;
  text-align: center;
  border: none;
  font-size: var(--scales-basic);
  background-color: var(--background-wrap);
}

.categoryHidden{
  position: absolute;
  left: 0px;
  top: 50px;
  width: 500px;
  max-width: 150px;
  height: 438px;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  border: 4px solid var(--border-color-gray);
  box-sizing: border-box;
  margin-top: 25px;
}

.categoryHidden.showSubNav{
  max-width: 500px;
}

.categoryHidden.isOpen{
  transition: max-height .5s ease, opacity .3s ease, visibility .3s;
  max-height: 438px;
  opacity: 1;
  visibility: visible;
}

.categoryHidden .panelHeader{
  width: 142px;
  height: 400px;
  box-sizing: border-box;
  background-color: var(--background-darkGray);
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: max-width .5s ease, opacity .3s ease, visibility .3s;
}

.categoryHidden .panelHeader.showSubNav{
  border-right: 3px solid var(--border-color-gray);
  transition: none;
}

.categoryHidden .panelHeader.isOpen{
  max-height: 400px;
  opacity: 1;
  visibility: visible;
}

.categoryHidden .panelHeader .title{
  width: 100%;
  height: 40px;
  background-color: var(--background-point-hazy);
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryHidden .panelHeader .title span{
  font-size: 20px;
  font-weight: var(--weight-heavy);
}

.mainCategoryNav{
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-gray);
  border-top: 3px solid var(--border-color-gray);
  box-sizing: border-box;
}

.mainCategoryNav li{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainCategoryNav button{
  background: none;
  border: none;
}

.categoryHidden .body{
  width: 350px;
  max-width: 0px;
  height: 400px;
  background-color: var(--background-gray);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: max-width .5s ease, opacity .3s ease, visibility .3s;
}

.categoryHidden .body.showSubNav{
  max-width: 350px;
  opacity: 1;
  visibility: visible;
}

.categoryHidden .body .title{
  width: 100%;
  height: 40px;
  background-color: var(--background-point-hazy);
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryHidden .body .title span{
  font-size: 20px;
  font-weight: var(--weight-heavy);
}

.subCategoryNav{
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-basic);
  border-top: 3px solid var(--border-color-gray);
  box-sizing: border-box;
}

.subCategoryNav button{
  background: none;
  border: none;
}

.categoryHidden .bottomBox{
  width: 492px;
  max-width: 142px;
  height: 30px;
  border-top: 3px solid var(--border-color-gray);
  box-sizing: border-box;
  background-color: var(--background-wrap);
  display: flex;
  align-items: center;
  transition: max-width .5s ease, opacity .3s ease, visibility .3s;;
  max-height: 0px;
  opacity: 0;
  visibility: hidden;
}

.categoryHidden .bottomBox.showSubNav{
  max-width: 492px;
}

.categoryHidden .bottomBox.isOpen{
  max-height: 30px;
  opacity: 1;
  visibility: visible;
}

.categoryHidden .bottomBox button{
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: var(--margin-min);
  border: none;
  background: none;
}
