.header{
  width: calc(100% - 40px);
  margin: 0 20px;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 3px solid var(--border-color);
}

.bodyWrapper{
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.sortWrapper{
  width: 166px;
  height: 46px;
  border: 3px solid var(--border-color);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--padding-basic);
}

.viewWrapper{
  width: auto;
  height: auto;
  display: flex;
  border: 3px solid var(--border-color);
  box-sizing: border-box;
}

.breadcrumb{
  list-style: none;
  display: flex;
}

.breadcrumb > li::after{
  content: " > ";
}

.breadcrumb > li:last-child:after{
  content: "";
}
/**/

.filterPanel{
  width: 100%;
  height: auto;
  border: 5px solid var(--border-color);
  border-radius: 20px;
  margin-top: 20px;
}

.filterPanel > li{
  border-bottom: 3px solid var(--border-color);
  padding: var(--padding-inward);
}

.filterPanel > li:last-child{
  border-bottom:none;
}

.reloadBtn{
  background: none;
  border: none;
}

.filterOption{
  display: flex;
}

.rightWrapper{
  width: calc(100% - 40px - 370px - 20px);
}

.resultItem{
  width: 100%;
  height: 180px;
  display: flex;
  gap : 20px;
  margin-bottom: 50px;
}

.clamp2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp : 2;
  -webkit-line-clamp: 2;  /* 줄 수 */
  overflow: hidden;
  /* 선택: 줄바꿈 이슈 대비 */
  overflow-wrap: anywhere;
}

.filterPanel fieldset{
  border: none;
}

.filterPanel legend{
  display: none;
}



/**/

.pagination{
  width:100%;
  height : 50px
}