.CS05_compare{
  display: flex;
  justify-content: space-between;
}

.CS05_code{
  width : 45%;
}

.CS05_codeBlock{
  height: 300px;
}

.CS05_codeBlock2{
  height: 400px;
}

.asciicode_char{
  width: 5rem;
}

.asciicode_code{
  width: 2rem;
}