.toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height : 160px;
  background-color: var(--background-basic);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.toolbar > div{
  margin : 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.utilToolbarWrapper{
  height: 100px;
  border-bottom: 1px solid var(--border-color);
}

.textToolbarWrapper{
  height: 60px;
}