.toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height : 180px;
  background-color: var(--background-basic);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.toolbar > div{
  margin : 0 50px;
  width: calc(100% - 100px);
  display: flex;
  align-items: center;
}

.utilToolbarWrapper{
  height: 120px;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.textToolbarWrapper{
  height: 60px;
  gap: 20px;
}

.textStyleToolbarSizeInput{
  width: 50px;
  height: 30px;
  border: 1px solid var(--border-color-gray);
  border-radius: 4px;
  padding: 5px;
}

.textStyleToolbarNameItem{
  border: none;
  font-weight: 700;
}

.textToolbarLine{
  width : 0px;
  border-left : 1px solid var(--border-color-blue);
  height: 40px;
}

.textStateButton{
  width: 20px;
  height: 40px;
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.bold{
  font-weight: var(--weight-bold);
}

.italic{
  font-style: italic;
}

.underline{
  text-decoration: underline;
}

.strikeout{
  text-decoration: line-through;
}

.active{
  color: var(--color-text-highlight);
}

.color{
  width: 30px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  font-size: 20px;
}

.colorView{
  width : 8px;
  height : 8px;
  border-radius: 50%;
  margin-top : 3px;
}

.highlight{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.textAlignButton{
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.utilToolbar{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.utilToolBarItem{
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.utilToolBarItemIcon{
  font-size: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.utilToolBarItemText{
  font-size: 16px;
}

.utilToolbarSeparator{
  width : 0px;
  border-left : 1px solid var(--border-color-blue);
  height: 80px;
}

.imageInput{
  display: none;
}

.separator{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3px;
  background-color: #000000;
}

.writingLink{
  position: absolute;
  top: 100px;
  width: 500px;
  height: auto;
  border: 1px solid var(--border-color-gray);
  border-radius: 4px;
  padding: 10px;
  background-color: var(--background-basic);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  transform: translateX(-50%);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.writingLinkActive{
  opacity: 1;
  visibility: visible;
}

.selectHorizontalWrapper{
  position: absolute;
  top: 100px;
  width: 500px;
  height: auto;
  border: 1px solid var(--border-color-gray);
  border-radius: 4px;
  padding: 10px;
  background-color: var(--background-basic);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(-50%);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.selectHorizontalWrapperActive{
  opacity: 1;
  visibility: visible;
}

.selectHorizontalItem{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.selectHorizontalItem:hover{
  background-color: var(--background-gray);
}

.selectHorizontalItemIcon1{
  width: 80%;
  height: 2px;
  background-color: var(--background-darkGray);
}

.selectHorizontalItemIcon2{
  width: 50%;
  height: 2px;
  background-color: var(--background-darkGray);
}

.selectHorizontalItemIcon3{
  width: 80%;
  height: 4px;
  background-color: var(--border-color-black);
}

.codeIconBackground{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--border-color-gray);
  border-radius: 4px;
  font-size: 20px;
  color: var(--color-text-secondary);
  background-color: var(--background-gray);
}

.selectListIconWrapper{
  position: absolute;
  top: 100px;
  left : 0px;
  width: 240px;
  height: auto;
  border: 1px solid var(--border-color-gray);
  border-radius: 4px;
  padding: 10px;
  background-color: var(--background-basic);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  transform: translateX(-50%);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.selectListIconWrapperActive{
  opacity: 1;
  visibility: visible;
}

.selectListIconWrapper > li {
  width : 50%;
}

.selectListIconItem{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--border-color-gray);
  border-radius: 4px;
  cursor: pointer;
  font-size: 60px;
}
.selectListIconItem:hover{
  background-color: var(--background-gray);
}

.selectTableWrapper{
  position: absolute;
  top: 100px;
  left : 0px;
  width: 270px;
  height: auto;
  border: 1px solid var(--border-color-gray);
  border-radius: 4px;
  padding: 10px;
  background-color: var(--background-basic);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(-50%);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.selectTableWrapperActive{
  opacity: 1;
  visibility: visible;
}

.selectTableTitle{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.selectTable{
  width: 250px;
  height: 250px;
}

.selectTableCell{
  background-color: var(--background-point-hazy);
}

.selectCodeBlock{
  position: absolute;
  top: 100px;
  left : 0px;
  width: 200px;
  height: auto;
  border: 1px solid var(--border-color-gray);
  border-radius: 4px;
  padding: 10px;
  background-color: var(--background-basic);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.selectCodeBlockActive{
  opacity: 1;
  visibility: visible;
}