.writingMetadataWrapper{
  width: 100%;
  border-bottom: 1px solid var(--border-color-gray);
}

.categorySelectWrapper{
  display: flex; 
  align-items: center;
  gap: 30px;
}

.seriesSelectWrapper{
  display: flex;
  align-items: center;
  gap: 30px;
}

.selectLabel{
  font-weight: 700;
  color: var(--color-text-hazy);
  font-size: 20px;
}

.titleInputWrapper{
  margin-top: 20px;
  width: 100%;
  height: 60px;
}

.titleInput{
  font-family: var(--font-title);
  font-size: 30px;
  color: var(--color-text-primary);
  width: 100%;
  height: 100%;
}

.titleInput::placeholder{
  color: var(--color-text-hazy);
}