@font-face {
  font-family: "Pretendard";
  src: url("/src/assets/fonts/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "NotoSansKorean";
  src: url("/src/assets/fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Jet";
  src: url("/src/assets/fonts/JetBrainsMono-Regular.woff2") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/RobotoCondensed-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "NanumGothic";
  src: url("/src/assets/fonts/NanumGothic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Batang";
  src: url("/src/assets/fonts/GowunBatang-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gungsuh";
  src: url("/src/assets/fonts/gungsuh-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DungGeunMo";
  src: url("/src/assets/fonts/DungGeunMo.woff2") format("woff");
}


@font-face {
  font-family: "Galmuri";
  src: url("/src/assets/fonts/Galmuri9.ttf") format("truetype");
}
