@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "NotoSansKorean";
  src: url("../assets/fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Jet";
  src: url("../assets/fonts/JetBrainsMono-Regular.woff2") format("woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/RobotoCondensed-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "NanumGothic";
  src: url("../assets/fonts/NanumGothic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Batang";
  src: url("../assets/fonts/GowunBatang-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Gungsuh";
  src: url("../assets/fonts/gungsuh-Regular.ttf") format("truetype");
}
