.checkBox{
  width: 100%;
  height: 100%;
  border: 2px solid var(--border-color-gray);
  border-radius: 4px;
  background-color: var(--background-wrap);
}

.checkBoxInput{
  opacity: 0;
  pointer-events: none;
}

.checkBoxSpan{
  height: 100%;
  aspect-ratio: 1/1;
  border: 2px solid var(--border-color-gray);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: transparent;
  font-size: 1em;
}

.checkBoxSpan:hover{
  border-color: var(--border-color-blue);
  cursor: pointer;
}

.checkBoxSpanActive{
  background-color: var(--background-point-hazy);
  border-color: var(--border-color-blue);
  color: var(--color-text-primary);
}