.commonButton{
  width: 100%;
  height: 100%;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-wrap);
  color: var(--color-text);
  font-size: 1em;
  text-align: center;
  padding: var(--padding-inside);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: var(--weight-bold);
}

.commonButton:hover{
  border: 2px solid var(--border-color-black);
  background-color: var(--background-black);
  color: var(--color-text-white);
}