.inputText{
  width: 100%;
  height: 100%;
  font-size: var(--scales-basic);
  border: 2px solid var(--border-color-gray);
  border-radius: 4px;
  padding: var(--padding-inside);
  background-color: var(--background-wrap);
  color: var(--color-text-primary);
  outline: none;
  transition: border-color 0.3s ease;
}

.inputText:focus, .inputText:hover{
  border: 2px solid var(--border-color-blue);
}