.inputText {
  width : auto;
  height : auto;
  font-size: var(--scales-basic);
  border: none;
  border-radius: 4px;
  padding: 5px;
  background-color: transparent;
  color: var(--color-text-primary);
  outline: none;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.inputTextBorder:focus, .inputTextBorder:hover{
  border: 2px solid var(--border-color-blue);
}

.inputTextBorder{
  border: 2px solid var(--border-color-gray);
}

.inputTextSettingSize{
  width: 100%;
  height: 100%;
}