.submitButton{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  background-color: var(--background-point);
  color: var(--color-text-white);
  font-size: 1em;
  text-align: center;
  padding: var(--padding-inside);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  outline: none;
  font-weight: var(--weight-bold);
}

.submitButton:hover{
  background-color: var(--background-point-secondary);
  font-weight: var(--weight-bold);
}