.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.updatedDate{
  color: var(--color-text-hazy)
}

.figure{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 350px;
  position: relative;
}

.image{
  width: 450px;
  border: 3px solid var(--border-color-black);
}

.figcaption{
  width: 420px;
  height: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}

.figcaption h3:hover{
  text-decoration: underline;
  cursor: pointer;
}

.explanTitle{
  color: var(--color-text-highlight);
  font-size: var(--scales-m);
  font-weight: 700;
  margin-top: 15px;
}

.explanDescription{
  color: var(--color-text-secondary);
  font-size: var(--scales-s);
  margin-top: 15px;
  /* 3중 넘으면 ...로 생략. */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.figcaption dl{
  display: flex;
  gap: 15px;
  position :absolute;
  bottom: 20px;
}

.listWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  margin-top: 40px;
}

.carousel{
  overflow: hidden;
  flex: 1;
  width: auto;
  height: 100%;
  margin: 0 25px;
}

.list{
  display: flex;
  gap: 25px;
}

.listitem{
  flex: 0 0 100%;
  min-width: 0;
  display: flex;
  gap: 25px;
}

.card{
  width: 240px;
  height: 190px;
  padding: 4px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.card:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.active{
  border: 3px solid var(--border-color-blue);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cardtitle{
  margin: 0 15px;
}

