.prevButton, .nextButton{
  width: 40px;
  height: 100px;
  border-radius: 20px;
  background: var(--background-point-hazy);
  border: none;
  font-size: var(--scales-l);
  color: var(--color-text-secondary);
}

.prevButton:hover, .nextButton:hover{
  cursor: pointer;
  color: var(--color-text-highlight);
}