.loginWrapper{
  width: 100%;
  height: auto;
  border: 5px solid var(--border-color);
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0 var(--border-color);
}

.profilePicture{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  margin: 20px auto;
  border: 2px solid var(--border-color-black);
}

.profileInfo{
  padding: 5px 20px;
  border-bottom: 3px solid var(--border-color);
}

.profileNav{
  width: 100%;
  height: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}